<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfKasa.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Bu bölüm My.Application.Log için günlük yapılandırmasını tanımlar -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uygulama Olay Günlüğüne yazmak için alttaki bölümün açıklamasını kaldırın -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uygulama Olay Günlüğüne yazmak için alttaki bölümün açıklamasını kaldırın ve APPLICATION_NAME'ı uygulamanızın adı ile değiştirin -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WpfKasa.MySettings>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Yazici" serializeAs="String">
                <value />
            </setting>
            <setting name="Sube" serializeAs="String">
                <value />
            </setting>
            <setting name="Data" serializeAs="String">
                <value />
            </setting>
            <setting name="EndPoint" serializeAs="String">
                <value />
            </setting>
            <setting name="KasaNo" serializeAs="String">
                <value />
            </setting>
            <setting name="FisBoyutu" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayAktif" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>Erkan123%%</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>4097</value>
            </setting>
        </WpfKasa.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegrationService" />
                <binding name="WSiletisimSoap" maxReceivedMessageSize="1000000" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_ITransferDocumentService">
                    <mtomMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://earsivtransfer.veriban.com.tr/IntegrationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrationService"
                contract="EArsivfaturaVeribanServiceReference.IIntegrationService"
                name="BasicHttpBinding_IIntegrationService" />
            <endpoint address="http://transfer.veriban.com.tr/TransferDocumentService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_ITransferDocumentService"
                contract="EfaturaVeribanServiceReference.ITransferDocumentService"
                name="CustomBinding_ITransferDocumentService" />
            <endpoint address="http://192.168.1.5:3265/WSiletisim.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSiletisimSoap"
                contract="Sriletisim.WSiletisimSoap" name="WSiletisimSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IronOcr" publicKeyToken="5f366048dc436899" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.21181" newVersion="4.4.0.21181"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
